:root {
  /* primary colors */
  --clr-primary-1: #1c1d26;
  --clr-primary-2: #91b9b8;
  --clr-primary-3: #aaabb8;
  --clr-primary-4: #ff6360;
  --clr-primary-5: #29648a;
  /* primary colors with transparency */
  --clr-primary-1-trans: rgba(28, 29, 38, 0.85);
  /* lighter shades of primary color */
  --clr-primary-2-lightest: #def2f1;
  --clr-primary-2-lighter: #bcdbda;
  --clr-primary-4-lighter: #ff807e;
  --clr-primary-4-lightest: #fae5df;
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #fff;
}
